/* About Us page styles */
.about-us {
    width:80%;
    margin: 0 auto;
    padding: 20px;
    margin-top:10rem;
    height:auto;
    background-color:rgba(37, 33, 33, 0.547);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3);
  }
 .abt-h1{
      color:whitesmoke;
  }
  .about-banner img {
    width: 100%;
    height: auto;
  }
  
  .about-content {
    margin-top: 30px;
    line-height: 1.6;
  }
  
  .about-content h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .about-content p {
    margin-bottom: 15px;
  }
.abt-p{
    color:white;
    font-weight:400;
}
#footer{
    margin-top:10rem;
}
  
  /* Add any additional styles and animations to make the page modern and beautiful */
  
