*{
  margin: 0;
  paddind:0;
  box-sizing: border-box;
}

/* Loading spinner styling */
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Outer border with slight transparency */
  border-left: 4px solid #000; /* Black border for spinning effect */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite; /* Apply the spinning animation */
  margin: 20px auto;
}
#poacher-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjusts the positioning and height of .poacher-main */
.poacher-main {
  margin-top: 7rem;
  min-height: 85vh;
  min-width:75vw;
  background-color:white;
  overflow: auto;
  border-radius:5px;
  border:1px solid black;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3);
}

/* For Data Table */
table{
  margin: 1.5rem auto;
  border-radius: 2rem;
  border: 1rem solid black;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  overflow: hidden;
  max-width: 80rem;
}
.dataTable_heading{
  margin-top: 2rem;
  text-align: left;
  margin-left: 4.5rem;
}
td{
  font-size: 1.6rem;
  line-height: 1.6;
}
thead{
  font-size: 1.8rem;
  background-color: grey;
  color:#fff
}
th,td{
  border: 1px solid #443c68;
  padding: 1.5rem;
  line-height: 1.7;
  color:black;
}
td{
  font-size: 1.4rem;
}

/* Keyframes for the spinning animation */
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Starting rotation angle */
  }
  100% {
    transform: rotate(360deg); /* Ending rotation angle (full circle) */
  }
}
