# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
forestwatchai/** 

# Flask specific
instance/
*.pyc
*.pyo

# Logs and database files
*.log
*.sqlite3
*.db

# Environment variables
.env
.env.*

# IDE and editor specific
.vscode/
*.swp
*.swo
.idea/
*.sublime-project
*.sublime-workspace

# MacOS specific
.DS_Store

# Pytest cache
.pytest_cache/
