.hover-dropdown {
    position: relative;
    width: fit-content;
  }
  
  .dropdown-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: calc(100% + .25rem); /* Position the dropdown below the button */
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1;
  }
  
  .hover-dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  